/* Meant to be included on every room page */

@import url("global.css");


:root {
  --view-width: 400px;
  --view-height: 400px;

  --map-width: 1200px;
}

main {

  display: flex;

  gap: 10px;

  flex-wrap: wrap-reverse;

  align-items: stretch;
  justify-content: center;
}

#quests {
  flex: 1;

  min-width: 200px;
  width: 300px;
  max-width: var(--view-width);

  /* min-height: 400px; */

  background-color: black;
}

#playArea {
  position: relative;
  z-index: 100;
}

#notifications {
  position: absolute;
  top: 0;
  left: 0;
}

#game {
  width: var(--view-width);

  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#game::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


#stage {
  position: relative;

  background-color: rgb(156, 105, 105);

  width: var(--map-width);
  height: var(--view-height);
}


#hotbar {
  display: flex;
  box-sizing: border-box;

  gap: 10px;

  width: var(--view-width);
  height: 100px;

  border-radius: 10px;

  margin-top: 10px;
  padding: 10px;

  background-color: rgb(100, 91, 79);
}

.slot {
  display: flex;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;

  flex: 1;

  border-radius: 10px;

  background-color: rgb(172, 172, 172);
}

.item {
  position: absolute;

  width: 100px;

  user-select: none;
}

/* when an item is in your inventory */
.slot > .item {
  position: unset;

  width: 80%;
}