/* Meant to be included on all pages */

@import url("variables.css");

@import url("global/reset.css");
@import url("global/links.css");
@import url("global/view-transition.css");

html {

  height: 100%;
}

html,
body {
  /* width: 100%; */
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background: linear-gradient(45deg, rgb(29, 19, 25) 10%, rgb(37, 17, 30) 40%, rgb(58, 30, 61) 100%);
  color: var(--text-color);

  font-family: 'Courier New', Courier, monospace;
}


/* nav stuff */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 450px;
  overflow: auto;
}